* {
	border: none;
	margin: 0;
	font-family: monospace;
}

body {
	background-color: rgb(45, 74, 99);
}

/* head */

.head button {
	background-color: rgb(31, 51, 69);
	color: white;
	padding: 19px;
	font-size: 11px;
}

.head button:hover {
	background-color: rgb(45, 74, 99);
	padding: 19px;
	font-size: 11px;

}

.head {
	background-color: rgb(31, 51, 69);
	width: 100%;
	height: 53px;
}

/* member  */

.member-info {
	color: white;
	font-size: 35px;
	font-family: monospace;
}

.member-info li {
	color: yellow;
	font-style: italic;
}

.member-info a {
	color: seagreen;
}

/* home-body */

.home-body {
	font-family: monospace;
	font-size: 48px;
}

.home-body #a1 {
	color: deeppink;
}

.home-body #a2 {
	color: purple;
}

.home-body #a3 {
	color: darkred;
}

.home-body #a4 {
	color: red;
}

.home-body #a5 {
	color: orange;
}

.home-body #a6 {
	color: yellow;
}

.home-body #a7 {
	color: green;
}

.home-body #a8 {
	color: blue;
}

/* ev1 */

.ev1 {
	background-color: rgb(56, 82, 105);
}

.ev1 h2 {
	color: white;
	font-size: 30px;
	font-family: monospace;
}

.ev1 li {
	color: grey;
	font-size: 20px;
	font-family: monospace;
}

/* ev2 */

.ev2 {
	background-color: rgb(40, 61, 79);
}

.ev2 h2 {
	color: white;
	font-size: 30px;
	font-family: monospace;
}

.ev2 li {
	color: yellowgreen;
	font-size: 20px;
	font-family: monospace;
}

#c1 {
	color: aqua;
	text-decoration: underline;
}

/* 100 bài học đắt giá  */

.baihocdatgia p {
	font-size: 15px !important;
	color: white !important;
	font-family: monospace !important;
}

/* Responsive */

@media(max-width: 600px) {
	.head button {
		background-color: rgb(31, 51, 69);
		color: white;
		padding: 5px;
		font-size: 13px;
		height: 53px;
	}
	.head button:hover {
		background-color: rgb(45, 74, 99);
		padding: 5px;
		font-size: 13px;
		height: 53px;
	}
	.home-body {
		font-size: 45px;
	}
}

/* table */

table {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

table td, table th {
	border: 1px solid #ddd;
	padding: 8px;
	background-color: white;
}

table tr:nth-child(even){background-color:  #f2f2f2}

table tr:hover {background-color: #ddd}

table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #04AA6D;
	color: white;
}

/* student list */

#false {
	background-color: rgb(255, 128, 128);
}

#true {
	background-color: rgb(128, 255, 128);
}