* {
  font-family: "arial";
}

#tag0 {
  border-radius: 20px;
  border: 2px solid #73AD21;
  padding: 20px;
  width: 100px;
  color: #95bf5a;
}
#tag0:hover {
  background-color: #95bf5a;
  color: white;
}

#tagTrainer {
  border-radius: 20px;
  border: 2px solid #73AD21;
  padding: 20px;
  color: #95bf5a;
}
#tagTrainer:hover {
  background-color: #95bf5a;
  color: white;
}

#tag1 {
  border-radius: 20px;
  border: 2px solid #73AD21;
  padding: 20px;
  width: 100px;
  color: #95bf5a;
}
#tag1:hover {
  background-color: #95bf5a;
  color: white;
}

#downloadbutton {
  border-radius: 20px;
  border: 2px solid #73AD21;
  padding: 1px;
  width: 250px;
  color: black;
}

#downloadbutton:hover{
  background-color: #95bf5a;
  color: white;
}

p {
  color: whitesmoke;
  flex-wrap: wrap;
}